*{
    box-sizing: border-box;
}
body{
    background-color: #20202D;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.conteiner{
    max-width: 945px;
    margin: auto;
}
.section{
    padding-top: 64px;
    padding-bottom: 92px;
}
.section-title{
    margin: 0;
    margin-bottom: 84px;
    font-size: 36px;
    line-height: 42px;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}
.header__logo{
    color: #fff;
    text-decoration: none;
}
.header{
    padding-top: 50px;
    padding-bottom: 155px;
    background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}
.social-links{
    display: flex;
    list-style: none;
    
}

.social-links__item{
    margin-left: 20px;
}
.social-links__item:first-child {
    margin-left: 0px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content-subtitle{
    display: block;
    font-size: 24px;
    line-height: 28px;
    color: #FFBB01;
    margin-bottom: 14px;
}
.header__content-title{
    display: block;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.header__content-description{
    display: block;
    font-size: 16px;
    line-height: 28px;
    max-width: 420px;
    margin-bottom: 38px;
}
.button{
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border: none;
    border-radius: 5px 5px 10px 10px;
}
.header__content-button{
    padding: 24px 42px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.header__content-avatar{
    width: 389px;
    height: 389px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url('../img/foto.jpg');
    background-repeat: no-repeat;
    background-position: -94px -1px;
    border: 13px solid #fff;
}

/* Features */
.features{
    background-color: #000;
}
.features__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features__block-item{
    flex-basis: 30%;
    margin-bottom: 63px;
}
.features__block-item-img{
    display: block;
    margin-bottom: 22px;
}
.features__block-item-title{
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.features__block-item-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}
/* Projects */
.projects{
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
    
}
.projects__slide{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.projjects__slide-content{
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
}
.projjects__slide-title{
    flex-basis: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 41px;
}
.projjects__slide-time, .projjects__slide-coast{
    flex-basis: 50%;
    margin-bottom: 44px;
    }
.projjects__slide-time, .projjects__slide-coast, .projjects__slide-feedback{
    display: flex;
    align-items: flex-start;
}
.projjects__subtitle{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
}
.projjects__paragraf{
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.projjects__slide-time-img{
    margin-right: 16px;
}

/* Contacts */
.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts__form{
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
    max-width: 380px;
    padding-top: 40px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 49px;
}
.contacts__title{
    margin: 0;
    margin-bottom: 29px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    max-width: 285px;
    text-align: center;
    color: #000000;
}
.contacts__button{
    padding: 24px 42px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
}
.contacts__form-input{
    background: #F8F8F8;
    border: none;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    padding: 18px 20px;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    padding-left: 50px;
}
.input-name{
    margin-bottom: 17px;
    background-image: url('../img/user-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 20px;
}
.input-phone{
    margin-bottom: 17px;
    background-image: url('../img/phone-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.contacts__text-data{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
}
.contacts__text{
    flex-basis: 50%;
}
.contacts__text-data-phone, .contacts__text-data-mail{
    flex-basis: 50%;
    margin-bottom: 53px;
}
.contacts__text-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 15px;
}
.contacts__text-link{
    text-decoration: none;
    color: inherit;
    margin-right: 37px;
    }
.contacts__text-link:hover{
    text-decoration: underline;
}
.social-links{
    padding-left: 0;
}
.contacts__policy{
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #A5A5A5;
    display: inline-block;
    margin-top: 70px;
}
